<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edge.starringharsh.EDGE">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sponsors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeamMember"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PdfViewer" />
        <activity
            android:name=".MegaEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusAmbassadors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComingSoon"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Accomodation" />
        <activity
            android:name=".KukuKube"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SnakesGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmitScoreKukuKube"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EdgeMash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntraEvents"
            android:screenOrientation="portrait" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".TeamTemporary" />
        <activity android:name=".SubmitScoreSnakes"></activity>
    </application>

</manifest>