<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edge.starringharsh.EDGE">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.edge.starringharsh.EDGE.MainMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.edge.starringharsh.EDGE.EventList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.EventDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.Sponsors"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.Team"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.TeamMember"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.edge.starringharsh.EDGE.Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.edge.starringharsh.EDGE.PdfViewer" />
        <activity
            android:name="com.edge.starringharsh.EDGE.MegaEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.CampusAmbassadors"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edge.starringharsh.EDGE.ComingSoon"
            android:screenOrientation="portrait" />
        <activity android:name="com.edge.starringharsh.EDGE.AboutUs" />
        <activity android:name="com.edge.starringharsh.EDGE.Accomodation"></activity>
    </application>

</manifest>